extends base
include mixins/video

  block content
    form(method="POST")
      input(name="name",type="text", placeholder="name" )
      input(name="email",type="email", placeholder="email" )
      input(name="username",type="text", placeholder="username")
      input(name="password",type="password", placeholder="password" )
      input(name="location",type="text", placeholder="location" )
      input(type="submit", value="Join")