extends base

block content
  h3 Upload Video
  form(method="POST" action="/videos/upload")
    input(name="title" placeholder="Your Video Title" required)
    input(name="description" placeholder="Description" required)
    input(name="hashtags" placeholder="Hashtags, separated by comma " required)
    input(type="submit" value="Upload Video")